page-report {

  ion-grid{

    ion-col{
      //border: 1px solid #e0e0e0;

      img{

        display: block;
        margin: 0 auto;
      }

      div{
        text-align: center;
        font-size: small;
      }
    }
  }

}
