page-message {
  .card-background-page {

    .header-img{
      width: auto;
      height: 150px;
    }

    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 1.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

  }
}
