page-home {

  /*功能导航*/
  #nav {
    height: 160px;
    width: 100%;
    padding: 0 3%;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 1px 1px #ebebeb;
  }
  #nav span {
    display: block;
    float: left;
    width: 25%;
    height: 60px;
    margin-top: 16px;
  }
  #nav span img {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
  }
  #nav span h2 {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
  }

}
