
<ion-content id="home">

  <!--搜索框-->
  <div class="header-search">
    <div #headerSearch class="header-search-bgColor"></div>
    <div class="header-swiper-input">
      <div class="searchbar-search-icon">
        <ion-icon name="search"></ion-icon>
      </div>
      <input placeholder="搜索..." (click)="goSearch()"/>
      <a class="headerBar-login" (click)="goSearch()">
        <span>搜索</span>
      </a>
    </div>
  </div>

  <div #lyScroll class="scroll-content">
    <!--头部滚动 -->
    <ion-slides pager class="swiper-container" loop="true" autoplay="3000">
      <ion-slide class="swiper-wrapper" *ngFor="let item of headerSlideData">
        <img class="swiper-img" alt="{{item.alt}}" src="{{item.src}}">
      </ion-slide>
    </ion-slides>

    <!-- 功能导航 -->
    <nav id="nav">
    <span *ngFor="let list of navData;" (click)="openNavPage(list)">
      <img src="{{list.src}}" alt="{{list.alt}}">
      <h2>{{list.alt}}</h2>
    </span>
    </nav>

    <!-- 精品推荐 -->
    <div class="floor">
      <div class="floor-title">精品推荐</div>
    </div>
    <div class="floor-detail-slide">
      <!--外层的ion-scroll 100%   里面元素的宽度要大于100%-->
      <ion-scroll scrollX="true">
        <ul class="clearfix" [ngStyle]="{'width':recListWidth}">
          <li *ngFor="let item of recommendList">

            <img src="{{item.pic}}"/>
            <p>{{item.title}}</p>
          </li>
        </ul>
      </ion-scroll>
    </div>

    <!-- 分类楼层 -->
    <div class="floor">
      <div class="floor-title">电脑</div>
      <div class="floor-more">更多 >></div>
    </div>
    <div class="floor-product">
      <ion-row>
        <ion-col col-6>
          <img src="assets/img/homeImg/home-slide-06.jpg"/>
          <p>XXX</p>
        </ion-col>

        <ion-col col-6>
          <img src="assets/img/homeImg/home-slide-07.jpg"/>
          <p>XXX</p>
        </ion-col>
      </ion-row>
    </div>


    <div class="floor">
      <div class="floor-title">手机</div>
      <div class="floor-more">更多 >></div>
    </div>
    <div class="floor-product">
      <ion-row>
        <ion-col col-6>
          <img src="assets/img/homeImg/home-slide-08.jpg"/>
          <p>手机</p>
        </ion-col>

        <ion-col col-6>
          <img src="assets/img/homeImg/home-slide-09.jpg"/>
          <p>手机</p>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
