page-home {

  .swiper-container {
    width: 100%;
    height: 180px;
    text-align: center;
    font-size: 25px;
    color: #fff;

    .swiper-img {
      min-height: 100%;
      width: 100%;
      height: auto;
      position: fixed;
      top: 0;
      left: 0;
    }
  }

  /*功能导航*/
  #nav {
    height: 170px;
    width: 100%;
    padding: 0 3%;
    background-color: #fff;
    overflow: hidden;
    /*box-shadow: 0 1px 1px #ebebeb;*/
  }
  #nav span {
    display: block;
    float: left;
    width: 25%;
    height: 60px;
    margin-top: 16px;
  }
  #nav span img {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
  }
  #nav span h2 {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
  }

  /* 分类标题 */
  .floor {
    margin: 0 5px 5px;
    background-color: #fff;
    box-shadow: 0 1px 1px #dcdcdc;
    overflow: hidden;

    .floor-title {
      float: left;
      font-size: 15px;
      padding: 8px 0 5px 7px;
    }

    .floor-title:before {
      display: inline-block;
      content: '';
      width: 3px;
      height: 12px;
      background-color: #d8505c;
      margin: 1px 7px 0 0;
    }

    .floor-more {
      float: right;
      margin-right: 5px;
      padding: 8px 0 5px 7px;
      font-size: 14px;
    }
  }

  //推荐商品
  .floor-detail-slide {

    ion-scroll {
      width: 100%;
      height: 120px;
    }

    ul {
      list-style: none;
      padding: 0px 5px;

      li {
        width: 80px;
        height: 120px;
        float: left;
        margin-right: 10px;

        p {
          padding: 4px;
          margin: 0px;
        }

      }
    }
  }

}
