
<ion-content >

  <ion-card>
    <ion-card-header>
      待办
    </ion-card-header>

    <ion-list>
      <ion-item *ngFor="let item of items" (click)="gotoListPage($event,item)">
        <div [ngStyle]="{'display':'flex','justify-content':'flex-start'}">
          <p>{{item.DBFL}}</p>
          <ion-badge>{{item.TS}}</ion-badge>
        </div>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card *ngIf="!(items.length>0)">
    <ion-card-content>
      当前角色无待办事项
    </ion-card-content>
  </ion-card>

  <div padding>
    <button ion-button block (click)="getHttpData()">获取数据</button>
  </div>

  <div padding>
    <button ion-button block (click)="_login()">登录本类方法</button>
  </div>

  <div padding>
    <button ion-button block (click)="_loginByPublic()">登录公共方法</button>
  </div>

</ion-content>
