page-sales-rank {

  .red{
    color: #f53d3d;
  }

  span{
    display: inline-block;
  }

  .rank{

    .text-rank{
      width: 40px;
      height: auto;
    }

    .text-center{
      margin-left: 30px;
    }

    .text-price{
      color: #e0d669;
    }
  }

}
